<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanghui04.dao.BlogMapper">
    <!-- 抽取公共的sql代码 -->
    <sql id="if-title-author">
        <if test="title != null">
            title = #{title},
        </if>
        <if test="author != null">
            author = #{author},
        </if>
    </sql>

    <insert id="addBlog" parameterType="com.tanghui04.model.Blog">
        insert into blog (id,title,author,create_time,views)
        values (#{id},#{title},#{author},#{createtime},#{views});
    </insert>

    <select id="queryblogif" parameterType="map" resultType="com.tanghui04.model.Blog">
        select * from blog
        <where>
            <if test="title != null">
                and title = #{title}
            </if>
            <if test="author != null">
                and author = #{author}
            </if>
        </where>
    </select>
    <select id="queryBlogChoose" parameterType="map" resultType="com.tanghui04.model.Blog">
        select * from blog
        <where>
            <choose>
                <when test="title != null">
                    title = #{title}
                </when>
                <when test="author != null">
                    and author = #{author}
                </when>
                <otherwise>
                    and views = #{views}
                </otherwise>
            </choose>
        </where>
    </select>

    <update id="updateBlog" parameterType="map">
        update blog
        <set>
            <include refid="if-title-author"></include>
        </set>
        where id = #{id}
    </update>

    <!-- select * from blog where 1=1 and (views = 9999 or views = 8888 or views = 7777); -->

    <select id="queryBlogForEach" parameterType="map" resultType="com.tanghui04.model.Blog">
        select * from blog
        <where>
            <foreach item="views" collection="viewsList" open="and (" close=")" separator="or">
                views = #{views}
            </foreach>
        </where>
    </select>
</mapper>